body {
  text-align: center;
  font-family: Helvetica;
}

header {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  color: white;
  font-size: 70px;
  font-weight: bold;

}

nav a {
  display: block;
  color: white;
  font-size: 18px;
  margin-bottom: 10px;
}

.designed {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
  color: white;
  font-size: 23px;

}

h2 {
  font-size: 32px;
  font-weight: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

footer {
  color: white;
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
}

a {
  color: white;
}
footer p {
  display: inline;
}
